<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Question</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>

<%- include("../components/navbar.ejs")   %>

<form action="/askQuestion" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Enter the Question" required>
    <input type="file" name="image" required>
    <textarea name="description" id="" cols="35" rows="10"placeholder="Description"></textarea>
   
    <input type="submit" value="Ask Question">
</form>

</body>
</html>
